In [1]:
import pandas as pd

In [10]:
df = pd.read_csv(r'powerlifting_dataset.csv')

In [11]:
duplicates = df.duplicated()

In [12]:
sum(duplicates)

1

In [14]:
dup_list = df[duplicates]
dup_list

          Lifter Name  Age Weight Class Lift Type  Amount Lifted (kg)
2229  Michael Johnson   22        93 kg  Deadlift                 116